* {
    padding: 0;
    margin: 0;
}

.navigation {
    margin-top: 20px;
   
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 25px;
    display: flex;
}

.nav-left img {
    height: 60px;
    width: 60px;
    border-radius: 20px;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
}

.nav-left ul li a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    position: relative;
    padding-left: 25px;
}

.nav-left ul li a:hover {
    width: 100%;
    left: 0;
    font-weight: bold;
    text-decoration: underline;
}

.nav-left ul {
    list-style: none;
    display: flex;
    margin: 0 100px;
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
}

.content-left {
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content-left p {
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content-right {
    margin-top: 50px;
}

.content-right img {
    height: 250px;
    border: 2px solid black;
    border-radius: 20px;
}

.home-articles {
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 12px;
}

.home-articles h1 {
    padding-left: 50px;
}

.home-article {
    display: flex;
    margin: 50px;
}

.home-article img {
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;

}

.home-article-content {
    align-self: center;
    padding-left: 30px;
}

.home-article-content a {
    text-decoration: none;
}

.footer {
    color: aliceblue;
    height: 50px;
    background-color: #222f3d;

}
